<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Todo</title>
  </head>
  <body>
    <div class="container">
      <h1 class="logo">TODO APP</h1>
      <div class="form-container">
        <h2 class="form-title">Enter Todo Text</h2>
        <form action="/create" class="form-todo" method="post">
          <input type="text" name="todo" id="todo" />
          <button>Add</button>
        </form>
      </div>
      <div class="todos">
        <% if (todos.length > 0) { %> <% for (let i = 0; i < todos.length; i++
        ){ %>
        <div class="todo-card">
          <p><%- todos[i] -%></p>
          <a href="<%-`delete/${i}`%>">Delete</a>
        </div>
        <% } %> <% } else { %>
        <div class="todo-card">There are no todos yet</div>
        <% } %>
      </div>
    </div>
  </body>
</html>
